In [1]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
bp = pd.read_json("https://data.cityofchicago.org/resource/building-permits.json")

In [5]:
bp.head(5)

,_amount_paid,_amount_waived,_estimated_cost,_issue_date,_permit_type,_pin1,_pin10,_pin2,_pin3,_pin4,...,contractor_9_zipcode,id,latitude,location,longitude,permit_,street_direction,street_name,street_number,work_description
0,105.0,65.0,66000,2004-08-23T00:00:00,PERMIT - ELEVATOR EQUIPMENT,17-09-260-020-0000,NaN,17-09-260-023-0000,NaN,NaN,...,NaN,1374921,41.889250,"{'latitude': '41.889249801888774', 'human_addr...",-87.631208,100000586,N,CLARK,400,FOR INSTALLATION OF ONE (1) HYDRAULIC ELEVATOR...
1,105.0,65.0,120000,2004-08-24T00:00:00,PERMIT - ELEVATOR EQUIPMENT,NaN,NaN,NaN,NaN,NaN,...,NaN,1377863,41.787863,"{'latitude': '41.78786254105026', 'human_addre...",-87.600859,100001883,E,59TH,1010,FURNISH AND INSTALL NEW MACHINE NEW CONTROLLER...
2,1945.0,0.0,45000,2006-03-10T00:00:00,PERMIT - RENOVATION/ALTERATION,14-29-320-016-0000,NaN,NaN,NaN,NaN,...,NaN,1378485,41.925857,"{'latitude': '41.92585684158289', 'human_addre...",-87.664452,100002267,N,JANSSEN,2421,GOING FROM 3A TO 4B CONSTRUCTION ON HOME AND G...
3,105.0,65.0,51500,2010-10-01T00:00:00,PERMIT - ELEVATOR EQUIPMENT,NaN,NaN,NaN,NaN,NaN,...,NaN,1379556,41.974737,"{'latitude': '41.974737104518226', 'human_addr...",-87.668105,100002902,N,CLARK,5111,INSTALLATION OF 1 HYDRAULIC ELEVATOR 2100LB
4,210.0,65.0,83000,2004-09-01T00:00:00,PERMIT - ELEVATOR EQUIPMENT,NaN,NaN,NaN,NaN,NaN,...,NaN,1379931,41.954647,"{'latitude': '41.954647086181744', 'human_addr...",-87.651171,100003191,W,IRVING PARK,840,INSTALL TWO (2) HYDRAULIC 4500 LB. ELEVATOR - ...

In [6]:
bp.describe()

,_amount_paid,_amount_waived,_estimated_cost,_total_permit_fee,id,latitude,longitude,permit_,street_number
count,1000.000000,1000.000000,1.000000e+03,1000.000000,1.000000e+03,996.000000,996.000000,1.000000e+03,1000.000000
mean,3803.154730,912.734070,4.202765e+05,4715.888800,1.587570e+06,41.878473,-87.674876,1.000617e+08,3372.752000
std,7642.715547,7576.598496,1.584447e+06,10453.288731,4.939365e+04,0.081582,0.058762,1.557399e+04,2635.187139
min,0.000000,0.000000,0.000000e+00,40.000000,1.374921e+06,41.649008,-87.914428,1.000006e+08,1.000000
25%,164.500000,0.000000,1.500000e+04,274.975000,1.582238e+06,41.818189,-87.706112,1.000568e+08,1337.500000
50%,1088.750000,0.000000,1.000000e+05,1392.300000,1.603862e+06,41.894273,-87.667313,1.000675e+08,2799.000000
75%,4734.412500,0.000000,3.750000e+05,5695.540000,1.613126e+06,41.936344,-87.636578,1.000723e+08,5105.250000
max,143737.450000,153645.790000,2.700000e+07,153970.790000,1.618962e+06,42.019069,-87.534221,1.000755e+08,13535.000000